<% if logged_in? %>
    <p>ログイン完了ユーザ：<%= current_user.name %></p>
    <h1>タスクの一覧</h1>
    
    <ul>
        <% @tasks.each do |task|%>
            <li><%= task.status%> &gt; <%= task.content %> ：　<%= link_to 'タスクの詳細', task %></li>
        <% end %>
    </ul>
    <%= paginate @tasks %>
    
    <%= link_to '新規のタスクを作成する', new_task_path %>
    
    <%= link_to 'Logout', logout_path, method: :delete %>
<% end %>